@page
@model GameModel
@{
}

<h1>Conway's Game of Life</h1>
@*How to present the game board?*@
<p></p>

<!-- Javascript code for creating table to be displayed as game board-->
<script>
    //assuming that the board is square, we only define one size
    var gameboard = '';
    var gameboardsize = 10;

    //game colors
    var gbcolor = "#D5E8E7";
    var gbcolorchange = "#CED741";

    //use loop to create table based on size defined earlier
    for (var rows = 0; rows < gameboardsize; rows++) {

        gameboard += '<tr>';
        //create table rows and columns and assign id based on position to each cell
        //example - first row will be 00 01 02, and row two will be 10 11 12 etc.
        for (var cols = 0; cols < gameboardsize; cols++) {
            gameboard += '<td bgcolor=' + gbcolor + ' onclick="clickedCell(id)"'
                + 'width = 20 height= 20 id= ' + rows + '' + cols + '></td > ';

        }
        gameboard += '</tr>';
    }

    //display gameboard on page
    document.write('<table border=1 align=center>' + gameboard + '</table>');

    //define a function for a clicked cell event
    //should be able to toggle in-case user wishes to deselect cell
    //doesnt have click and drag functionality
    function clickedCell(id) {

        var tempid = id;

        var tempcolor = document.getElementById(tempid).getAttribute("bgcolor");

        //if color is original color change it, else change it back to original color
        if (tempcolor == gbcolor) {
            document.getElementById(id).style.backgroundColor = gbcolorchange;
            document.getElementById(id).setAttribute("bgcolor", gbcolorchange);
        }
        else if (tempcolor == gbcolorchange) {
            document.getElementById(id).style.backgroundColor = gbcolor;
            document.getElementById(id).setAttribute("bgcolor", gbcolor);
        }
        
    }
</script>

